*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

    header {
        display: grid;
        justify-content: center;
        align-items: center;
        background: url(https://europe.wordcamp.org/2017/files/2017/01/background-pattern-01.png);
        color: black;
        height: 100px;
        font-size: 2em;
    }

    main {
        display: block;
    }
    li {
        list-style: none;
        border-bottom: 1px dotted black;
        width: 50%;
    }

    a {
        text-decoration: none;
        font-size: 1.5em;
        margin: 20px;
        font-family: Arial, Helvetica, sans-serif;
        transition: opacity 1s;
        display: flex;
        flex-direction: column;
    }
    a:nth-of-type(1) {
        color: black;
        background: burlywood;
    }
    
    a:nth-of-type(2) {
        color: white;
        background: sandybrown;
    }
    
    a:nth-of-type(3) {
        color: white;
        background: brown;
    }
    
    a:nth-of-type(4) {
        color: white;
        background: rgb(199, 156, 100);
    }

.sidebar img {
    height: 100px;
    width: 100px;
    align-items: center;
}
    .sidebar {
        float: right;
        background-color:black
      }
