* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item-1 {
  display: grid;
  justify-content: center;
  font-size: 2em;
  color: white;
  background: hsl(9deg 100% 64%);

}
.grid-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 150px;
  gap: 15px;
  padding: 30px;
}

.grid-1 .item-1:nth-of-type(1) {

  grid-row: span 2;
  grid-column: span 2;
}

.grid-1 .item-1:nth-of-type(2) {
  grid-column: span 2;
}

.grid-1 .item-1:nth-of-type(3) {
  grid-column: span 1;
}

.grid-1 .item-1:nth-of-type(4) {
  grid-column: span 1;
}

.item {
  display: grid;
  justify-content: center;
  font-size: 2em;
  text-align: center;
  color: black;
  background: hsl(196deg 55% 79%);

}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 150px;
  gap: 15px;
  padding: 30px;
}

.grid-2 .item:nth-of-type(1) {

  grid-row: span 2;
  grid-column: span 2;
}

.grid-2 .item:nth-of-type(2) {
  grid-column: span 2;
}

.grid-2 .item:nth-of-type(3) {
  grid-column: span 1;
}

.grid-2 .item:nth-of-type(4) {
  grid-column: span 1;
}
